/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21/09/2016, 11:47:45
    Author     : axdesousa
*/

.apcc-box {
    height: auto;
    text-align: left;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border: solid 1px #ccc
}

.apcc-box h3 {
    margin-top: 0px;
}

.texto, .texto p, .texto h4, .texto a {
    font-size: 16px !important;
    text-align: justify
}

.texto img {
    width: auto !important;
    border: 10px solid #ccc;
    margin: 20px;
}

.texto img.align-left {
    float: left;
    margin-left: 0px;
}

.texto img.align-right {
    float: right;
    margin-right: 0px;
}

.manuaisCategorias {
}

.manuaisCategorias ul {
    margin: 0px;
    padding: 10px 0px 0px;
}

.manuaisCategorias ul li {
    background-color: #fff;
}

.manuaisCategorias ul li a {
    display: block;
    border-bottom: dotted 1px #ccc;
    padding: 10px;
    text-transform: uppercase;
    color: #b10d1d;
}

.manuaisCategorias ul li a:hover {
    text-decoration: none;
    background-color: #b10d1d;
    color: #fff
}

.manuaisCategorias ul li a.currentManual {
    text-decoration: none;
    background-color: #b10d1d;
    color: #fff
}

.post-it-note {
    min-height: auto !important;
    padding: 20px !important;
    height: 120px !important;
}

.post-it-note::after {
    border-color: #b10d1d;
    border-style: solid;
    border-width: 1em;
    bottom: -1em;
    content: "";
    left: 0;
    position: absolute;
    right: 1em;
}

.post-it-note::before {
    border-color: #b10d1d transparent;
    border-style: solid;
    border-width: 1em 1em 0 0;
    bottom: -1em;
    content: "";
    position: absolute;
    right: 0;
}

.galeria {
    display: table;
    margin: 20px auto;
}

.galeria .galeria-item {
    width: 190px;
    padding: 5px;
    background-color: #e8e8e8;
    display: table;
    float: left;
    margin: 10px;
}

.ligue {
    width: 100%;
    height: 325px;
    background: url("images/ligue.jpg");
    background-size: cover;
    display: table;
    width: 100%;
    background-position: top center;
}

.ligue div {
    display: table;
    width: 275px;
    margin: 170px auto 0px;
}

.ligue span {
    font-size: 80px;
    float: left;
    display: table;
    font-style: italic;
    color: #fff;
    margin-right: 20px;
}

.ligue p {
    color: #fff;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

.dropdown-menu {
    z-index: 19999 !important
}

.post-it-note a {
    color: #fff
}

#search {
    z-index: 2999 !important
}

.especialidade-item a {
    color: #000
}

.especialidade-item a:hover {
    background-color: #b10d1d;
    color: #fff;
    text-decoration: none;
}

.animate200 {
    transition: all 200ms linear 0s;
}

.login_busca {
    display: table;
    height: auto;
    width: auto;
    float: left
}

.h-actions .h-act-login {
    width: auto;
    height: 40px;
    background: #b10d1d;
    display: block;
    padding: 10px;
    width: 100px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.busca-top {
    position: absolute;
    right: 0px;
    top: -5px;
}

.h-actions .h-act-search {
    float: left;
    width: 50px;
    height: 40px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.redes-topo {
    float: right;
    display: table;
    width: auto;
}

.redes-topo .main-footer-social li a {
    width: 50px;
    height: 40px;
}

.artigo-gallery a {
    height: 140px;
    padding: 5px;
    background-color: #e8e8e8
}

.bg-other-n {
    height: 280px;
}

.link_mais_noticias {
    font-size: 13px;
    display: block;
    padding: 5px;
    text-align: center;
}

/** alterações do dia 2016.10.20 **/
.navbar-default .navbar-nav > .active {
    background-color: #b10d1d !important
}

.nav li a {
    letter-spacing: 0.4px;
    font-weight: bold !important;
    padding: 10px !important
}

.convenio_image {
    background-color: #fff;
    height: 140px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

.convenio_image img {
    display: table;
    height: 100px;
    width: auto;
    margin: 0px auto;
    float: none;
}

.convenios .post-it-note::before {
    display: none;
}

.convenios .post-it-note::after {
    display: none
}

/*** page **/
.page-galeria {
    display: table;
    width: 100%
}

.page-galeria a {
    display: block;
    width: 220px;
    height: 140px;
    padding: 5px;
    float: left;
}

@media all and (max-width: 740px) {
    .header-logo {
        margin-top: 20px !important
    }

    .navbar-header {
        display: table;
        margin: 0px auto;
    }

    .navbar-default {
        margin-top: 10px !important
    }

    .navbar-header button {
        margin-right: 0px !important
    }

    .nav > li > a {
        padding: 0px;
    }

    .busca-top {
        float: none;
        margin: 0px auto;
        max-width: 220px;
        position: relative;
    }

    .post-it-note {
        margin-bottom: 40px;
    }

    .bannerDestaque {
        display: none
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #b10d1d
    }
}

@media all and (max-width: 800px) and (max-width: 960px) {
    .bg-other-n {
        height: 280px;
    }

}

@media all and (max-width: 1140px) {
    .atomwrapper {
        width: 100%
    }

    .bg-other-n .centralizar {
        align-items: start !important;
        padding: 10px !important
    }

    .bg-other-n .centralizar div {
        padding-top: 0px !important
    }
}
