.no-font {
    text-indent: -99999px;
    position: absolute
}

.clear {
    clear: both;
    height: 0.01em;
}

.clear5 {
    clear: both;
    height: 5px;
}

.clear10 {
    clear: both;
    height: 10px;
}

.clear15 {
    clear: both;
    height: 15px;
}

.clear20 {
    clear: both;
    height: 20px;
}

.clear25 {
    clear: both;
    height: 25px;
}

.clear30 {
    clear: both;
    height: 30px;
}

.clear35 {
    clear: both;
    height: 35px;
}

.clear40 {
    clear: both;
    height: 40px;
}

.clear50 {
    clear: both;
    height: 50px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.none {
    display: none
}

.image {
    width: 100%;
}

.animate {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

/** nav **/
.nav_title {
    border: 0;
    height: 58px;
}

.profile {
    display: table;
    border-top: solid 1px #73879c;
    border-bottom: 1px solid #73879c;
    padding-bottom: 20px;
    width: 100%
}

.menu_section h3 {
    display: none
}

.page-home {
    border-right: none
}

.current-page {
    background: none !important;
    border: none !important;
}

.current_section .nav.child_menu {
    display: block
}

.upload_file {
    width: 100%;
    overflow: hidden;
    float: right;
    padding: 10px;
    border: solid 1px #ddd;
    border-top: none
}

span.post_status {
    cursor: default
}

.loading_form {
    display: none
}

.thumbnail {
    height: auto;
}

.thumbnail .image {
    height: 150px;
    position: relative;
    overflow: hidden
}

.thumbnail:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.thumbnail .image img {
    position: absolute;
    left: 50%;
    margin-left: -125px;
}

.thumbnail .caption {
    display: table;
    text-align: center;
    width: 100%
}

.modal_gallery .file_src {
    width: 100%;
}

.profile_details .profile_view .left p {
    height: 60px
}

.profile_details .profile_view {
    height: 250px;
    position: relative
}

.profile_details .profile_view .bottom {
    position: absolute;
    bottom: 0px;
}

footer {
    margin-left: 0px;
}

/** circle animate **/
.loaging-campos {
    width: 18px;
    height: 18px;
    margin-left: 10px;
}

/***********************************
####### MODAL INSERT UPLOAD ########
***********************************/
.workcontrol_imageupload {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 89;
    box-shadow: 0 0 3px 0 #000;
    background: rgba(0, 0, 0, 0.5);
}

.workcontrol_imageupload_content {
    margin: 5% auto;
    max-width: 100%;
    overflow: auto;
    background: #fff;
    width: 500px;
}

.workcontrol_imageupload_actions {
    padding: 20px;
    background: #fff;
}

.workcontrol_imageupload input {
    margin: 0 0 15px 0;
}
