body {
    padding-top: 50px;
}

.login_form {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    margin-top: -175px;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    height: 350px;
    max-width: 90%;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
}

.login_form h1 {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}

.login_form .lock {
    font-size: 50px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #fff;
    border: solid 10px #2a3f54;
    padding: 5px 10px;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    position: absolute
}

.login_form .control-campo {
    border-bottom: solid 1px #73879c;
    display: table;
    width: 100%;
}

.login_form .control-campo i {
    font-size: 35px;
    opacity: 0.6;
    margin-top: 5px;
}

.login_form .form-control {
    width: 90%;
    float: right;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    height: 50px;
    border: none;
    box-shadow: none;
}

.login_form .btn {
    height: 50px;
    width: 100%;
    margin: 0px;
}

footer {
    display: none
}