<footer class="bg-light-gray-100 container-fluid fl-left footer-enable">
    <div class="atomwrapper">
        <div class="centralizar">
            <a href="" class="header-logo">
                <img src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_assets/_img/header-logo.png" alt="Hospital São Marcos" title="Hospital São Marcos">
            </a>
        </div>
        <div class="clear10"></div>
        <p class="al-center centertable font18px">
            Hospital São Marcos Para toda sua vida - Todos os direitos reservados 2016        </p>
        <div class="clear10"></div>
        <ul class="main-footer-social">
            <li>
                <a class="onfade4" href="" title="">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a class="onfade4" href="https://www.facebook.com/saomarcospi/?fref=ts" title="Hospital São Marcos">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a class="onfade4" href="https://www.instagram.com/hospitalsaomarcos/" title="Hospital São Marcos">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>

</footer>



<script src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_libraries/slick/slick.min.js"></script>
<script src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_assets/_js/jquery.cycle2.min.js"></script>
<script src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_libraries/lightbox2-master/lightbox2-master/dist/js/lightbox.js"></script>
<script src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_assets/_js/ios6fix.js"></script>
<script src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_assets/_js/jquery.cycle2.swipe.min.js"></script>
<script src="http://localhost/saomarcos/themes/dx_saomarcos/_cdn/_front/_assets/_js/functions.js"></script>
            </body>
</html>
