body, html{font-family: 'dosisregular' !important;}

.header-logo{width:105px;height:103px; display: block;}

.hintxt{margin-top: 30px;}

.hinfo-icon{width: 40px; height: 50px; float: left;}
.hinfo-icon span{font-size: 22px; text-align: center; line-height: 50px; display: table; margin: 0 auto;}

.hinfo-text{float: left; padding: 5px; width: 190px; height: 50px;}
.hinfo-text h2{font-size: 14px;}

.h-actions{width: 50px; height: auto; position: relative;}
.h-actions a,button{color:#FFF; font-size: 12px;border: 0px;}
.h-actions a:hover, button:hover{text-decoration: none; background: #B00D1C;}
.h-actions .h-act-search{width: 100%; height: 50px; background: #b10d1d; display: block; border-radius: 13px 0px 0px 0px; -moz-border-radius: 13px 0px 0px 0px; -webkit-border-radius: 13px 0px 0px 0px;}
.h-actions .h-act-search i{text-align: center; display: table; margin: 0 auto; line-height: 30px;}
.h-actions .h-act-search span{text-align: center; display: table; margin: 0 auto; line-height: 3px !important;}
#search{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.7);-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;transition:all .5s ease-in-out;-webkit-transform:translate(0px,-100%) scale(0,0);-moz-transform:translate(0px,-100%) scale(0,0);-o-transform:translate(0px,-100%) scale(0,0);-ms-transform:translate(0px,-100%) scale(0,0);transform:translate(0px,-100%) scale(0,0);opacity:0}#search.open{-webkit-transform:translate(0px,0px) scale(1,1);-moz-transform:translate(0px,0px) scale(1,1);-o-transform:translate(0px,0px) scale(1,1);-ms-transform:translate(0px,0px) scale(1,1);transform:translate(0px,0px) scale(1,1);opacity:1}#search input[type="search"]{position:absolute;top:50%;width:100%;color:#fff;background:rgba(0,0,0,0);font-size:60px;font-weight:300;text-align:center;border:0;margin:0 auto;margin-top:-51px;padding-left:30px;padding-right:30px;outline:none}#search .btn{position:absolute;top:50%;left:50%;margin-top:61px;margin-left:-45px}#search .close{position:fixed;top:15px;right:15px;color:#fff;background-color:#b10d1d;border-color:#C0392B;opacity:1;font-size:20px;line-height: 10px !important; font-family: Arial; width: 40px; height: 40px;}

.h-actions .h-act-links{width: 100%; height: 50px; background: #C0392B; display: block; border-radius: 0px 0px 13px 0px; -moz-border-radius: 0px 0px 13px 0px; -webkit-border-radius: 0px 0px 13px 0px;}
.h-actions .h-act-links i{text-align: center; display: table; margin: 0 auto; line-height: 15px;}
.h-actions .h-act-links span{text-align: center; display: table; margin: 0 auto; line-height: 15px !important;}
.toggle-wrap {position: relative;}
.menu {
    position: absolute;
    top: 60px;
    font-size: 14px;
    width: 200px;
    background-color: #ecf0f1;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: none;
}
.menu--open {
    display: block;
}
.menu:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ecf0f1;
    position: absolute;
    top: -10px;
    left: 10px;
}
.menu__item {
    width: inherit;
    display: block;
    position: relative;
    padding-right: 40px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    border-top: 1px solid #dde4e6;
    -webkit-transition: background-color 200ms ease 0;
    transition: background-color 200ms ease 0;
    cursor: pointer;
}
.menu__item:first-child {
    border-top: 0;
}
.menu__item:hover {
    background-color: #dde4e6;
}
.menu__item:hover .fa {
    color: #495d62;
}
.menu__item .fa {
    position: absolute;
    right: 0;
    top: 0;
    height: inherit;
    line-height: inherit;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #cfd9db;
    color: #77939a;
    -webkit-transition: color 200ms ease 0;
    transition: color 200ms ease 0;
}

.navbar{background:#FFF !important;border-radius: 0px !important;-moz-border-radius: 0px !important;-webkit-border-radius: 0px !important;}
.navbar-default{border-color:#F5F5F5 !important;border-bottom: 0px !important;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {color: #333;}
.navbar-default .navbar-nav > .active  {
    color: #FFF;
    background: #b10d1d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #b10d1d;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #b10d1d;
    border-bottom-color: #b10d1d;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #b10d1d;
    border-bottom-color: #b10d1d;
}
.navbar-default .navbar-toggle {
    border-color: #b10d1d;
    color:#333;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #b10d1d;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .active  {

}
.navbar-default .navbar-nav > .active{
    color: #000;
    background: #b10d1d;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background: #b10d1d;
}

.features{width: 100%; height: 70vh; position: relative; overflow: hidden;}
.item-feature{width: 100%;max-width: none;height: 70vh;z-index: 10;background-size: cover;float: left;position: relative;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;}
.item-desc{width: 100%; float: left; position: absolute; bottom: 30%;}
.item-desc .btn-default-hsm{background:#b10d1d;}
.item-desc .btn-default-hsm:hover{background:#b10d1d;}
.cycle-slideshow{width: 100%; max-width: 100%; display: block; position: relative; margin: 0 auto; overflow: hidden;}
.slide-item{width: 100%; max-width: 100%;}
#progress{position: absolute; bottom: 0; height: 7px; width: 0px; border-radius: 30px; background: #b10d1d; z-index: 9999;}
.cycle-prev{position: absolute; z-index: 9999;}
.onTable{width: 100%; height: 50px; position: absolute; z-index: 9999; top:50%;}
.prevControl{position: absolute; left: 20px; line-height: 25px; background: #FFF; color:#333 !important;}
.prevControl:hover{color:#FFF !important;}
.nextControl{position: absolute; right: 20px; line-height: 25px; background: #FFF; color:#333 !important;}
.nextControl:hover{color:#FFF !important;}

.cycle-pager{width: 31px; color:#FFF; display: block; margin: 10px 0px; text-align: center; position: absolute; z-index: 99999; top: 40px; right: 17px; text-indent: -9999999px; white-space: nowrap;}
.cycle-pager span{width: 35px; margin: 10px 0px; height: 2px; cursor: pointer; display: block;  background: rgba(255, 255, 255, 0.50); transform: rotate(-39deg); -webkit-transform: rotate(-39deg); -moz-transform: rotate(-39deg);}
.cycle-pager .cycle-pager-active{background: #b10d1d;}

.item-grid-first{width: 100%; height: 375px; float: left;}
.igftext{width: 100%; height: 224px; float: left; padding: 20px;}
.igfimg{width: 100%; height: 151px; float: left;}

.item-grid-second{width: 100%; height: 375px; float: left;}
.item-grid-three{width: 100%; height: 375px; float: left;}
.item-grid-four{width: 100%; height: 375px; float: left;}

.item-grid-five{width: 100%; height: 375px; float: left;}

.item-grid-six{width: 100%; height: 375px; float: left;}

.SvItem h1{font-size: 0.9em !important; color: #333; margin: 0px; padding: 0px;}
.SvItem h1 a{color:inherit; font-size: inherit}
.SvItem{width: 100%; min-height: 130px; position: relative; margin-bottom: 40px;}
.icoContentSv{min-width: 70px; max-width: 70px; min-height: 70px; position: absolute; background: #C0392B; left: 50%; margin-left: -35px;}
.brdContentSv{width: 100%; min-height: 80px; position: absolute; bottom: 0px; border: 1px solid #C0392B;}
.insetBlk{min-width: 70px; max-width: 70px; min-height: 70px;}
.insetBlk span{line-height: 70px; display:table; text-align: center; color:#FFF;}
.insetSlk{width: 100%; min-height: 60px; max-height: 60px; bottom: 0px; position: absolute;}

.icoContentSv:hover{background: #D65445;}
.anchorSv:hover{color:#FFF;}

.on-thumb-news{width: 100%; height: 300px;background-size: cover; overflow: hidden; position: relative;}

.bot-n{position: absolute; width: 40px; height: 115px; background: #F9F9F9; bottom: 0px; right: 0px;}

.bg-other-n{width: 100%; height: 150px; background: #EEEEEE; }

.MainAtendimento{width: 100%; float: left; overflow: hidden;}
.hero-content {display: block; position: relative; z-index: 9999}
.nycPhone {background: url(../../../../uploads/midias/slider/BgPhone.png) no-repeat center bottom;}

.footer-enable{width: 100%; float: left; padding: 20px; overflow: hidden;}
.main-footer-social{display: table; margin: 0 auto;}
.main-footer-social li{float: left;}
.main-footer-social li a{width: 40px; height: 40px; float: left; background: #b10d1d; color:#FFF; text-align: center; line-height: 40px; margin-left: 5px;}
.main-footer-social li a:hover{background: #AA101E;}


/*diretoria*/
.team{
    padding-bottom: 30px;
}

.team-member {
    margin: 15px 0;
    padding: 0;
}

.team-member figure {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.team-member figure img {
    min-width: 100%;
}

.team-member figcaption p {
    font-size: 16px;
}

.team-member figcaption ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.team-member figcaption ul {
    visibility: visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
    display: inline-block;
    padding: 10px;
}

.team-member h4 {
    margin: 10px 0 0;
    padding: 0;
}

.team-member figcaption {
    padding: 50px;
    color: transparent;
    background-color: transparent;
    position: absolute;
    z-index: 996;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
    visibility: visible;
    color: #fff;
    background: rgba(230, 78, 62, 0.9);
    /* Primary color, can be changed via colors.css */

    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
    color: rgba(49, 49, 49, .97);
}

.team-member figure img {
    -webkit-transform: scale(1) rotate(0) translateY(0);
    -moz-transform: scale(1) rotate(0) translateY(0);
    -o-transform: scale(1) rotate(0) translateY(0);
    -ms-transform: scale(1) rotate(0) translateY(0);
    transform: scale(1) rotate(0) translateY(0);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
    -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
    -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
    -o-transform: scale(1.1) rotate(1deg) translateY(12px);
    -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
    transform: scale(1.1) rotate(1deg) translateY(12px);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

input:focus, textarea:focus, keygen:focus, select:focus {
    outline: none;
}
::-moz-placeholder {
    color: #666;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #666;
    font-weight: 300;
}

.section2 {
    width: 1200px;
    margin: 25px auto;
}
.section2 .col2 {
    width: 48.71%;
}
.section2 .col2.first {
    float: left;
}
.section2 .col2.last {
    float: right;
}
.section2 .col2.column2 {
    padding: 0 30px;
}
.section2 span.collig {
    color: #a2a2a2;
    margin-right: 10px;
    display: inline-block;
}
.section2 .sec2addr {
    display: block;
    line-height: 26px;
}
.section2 .sec2addr p:first-child {
    margin-bottom: 10px;
}
.section2 .sec2contactform input[type="text"],
.section2 .sec2contactform input[type="email"],
.section2 .sec2contactform select,
.section2 .sec2contactform textarea {
    padding: 10px;
    border: 0;
    background: #EDEDED;
    margin: 5px 0;
}
.section2 .sec2contactform textarea {
    width: 100%;
    display: block;
    color: #666;
    resize:none;
}
.section2 .sec2contactform input[type="submit"] {
    padding: 10px 40px;
    color: #fff;
    border: 0;
    font-size: 16px;
    text-transform: uppercase;
    margin: 7px 0;
    cursor: pointer;
}
.section2 .sec2contactform h3 {
    font-weight: normal;
    margin: 20px 0;
    margin-top: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 19px;
    color: #A44DD8;
}

/* @media querries */

@media only screen and (max-width: 1266px) {
    .section2 {
        width: 100%;
    }
}
@media only screen and (max-width: 960px) {
    .container {
        padding: 0 30px 70px;
    }
    .section2 .col2 {
        width: 100%;
        display: block;
    }
    .section2 .col2.first {
        margin-bottom: 10px;
    }
    .section2 .col2.column2 {
        padding: 0;
    }
    body .sec2map {
        height: 250px !important;
    }
}
@media only screen and (max-width: 768px) {
    .section2 .sec2addr {
        font-size: 14px;
    }
    .section2 .sec2contactform h3 {
        font-size: 16px;
    }
    .section2 .sec2contactform input[type="text"], .section2 .sec2contactform input[type="email"], .section2 .sec2contactform textarea {
        padding: 10px;
        margin:3px 0;
    }
    .section2 .sec2contactform input[type="submit"] {
        padding: 10px 30px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 420px) {
    .section1 h1 {
        font-size: 28px;
    }
}


.list-posts{width: 100%; padding-top:5px; padding-bottom: 20px;}
.blog-format-inner{width: 100%; float: left; border-bottom: 1px solid #EEE; border-top: 1px solid #EEE; margin-bottom: 30px !important;}

.bfi-data{width: 100%; height: 150px; float: left;}
.y{display: block;}
.d{display: block;}

.bfi-content{width: 100%; height: 150px;}
.bfi-content img{max-width: 188px; margin-right: 15px;}

.info-text-c{height: 150px;}
.info-text-c h3{line-height: 30px; margin: 0px; padding-top: 20px;}

.no-border-top{border-top: 0px !important;}
.no-border-bottom{border-bottom: 0px !important;}


.widthWrapper {
    max-width: 100%;
    margin: 0 auto;
}

/* Post Index */
#postIndex {
    margin: 3em auto;
}

.postInner {
    margin-top: -0.063em;
}

.postInner a {
    display: block;
    padding: 2.374em 2.5em 2.5em 2.5em;
    overflow: hidden;
    border-top: .063em solid #ccc;
    border-bottom: .063em solid #ccc;
}

.postInner a:hover {
    background: #eee;
}

.postImg {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-right: 2em;
}

.postImg img {
    width: 100%;
}

.postInner a h2 {
    float: right;
    width: 75%;
}

.postInner a:hover h2 {
    color: #157EBF;
}

.postInner a p {
    color: #444;
    float: right;
    width: 75%;
}

.postInner a span {
    color: #444;
    float: right;
    width: 75%;
    margin-bottom: 10px;
}

.postInner a:hover p {
    color: #222;
}

@media only screen and (max-width: 750px) {
    #postIndex {
        width: 100%;
    }

    .postInner a {
        padding: 2.374em 1.5em 2.5em 1.5em;
    }
}

@media only screen and (max-width: 481px) {
    .postImg {
        display: none;
    }

    .postInner a p, .postInner a h2 {
        width: 100%;
    }

}


.contentMsg{padding: 20px;}
.contentInfoImv{background: #FFF;float: left;width: 100%;}
.contentInfoImv h1{padding: 20px;}
.sideInfoImv{background: #FFF; float: left; width: 100%; padding: 5px;}
.msn {
    display: inline-block;
    padding: 0px 15px;
    position: relative;
}

.msn:before,
.msn:after {
    background: #CB4E22;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 50%;
    width: 600%;
}

.msn:before {
    right: 100%;
}

.msn:after {
    left: 100%;
}

.container-line {
    overflow: hidden;
    text-align: center;
}

.main_share_command_news li{float: left;}
.main_share_command_news li a{color:#ccc; padding: 10px;}
.main_share_command_news li a.fb_h:hover{color:#3b5998;}
.main_share_command_news li a.gp_h:hover{color:#dd4b39;}
.main_share_command_news li a.tt_h:hover{color:#00aced;}

.post-it-note {
    padding: 2em;
    background: #b10d1d;
    position: relative;
    min-height: 10em;
    display: block;
}

.post-it-note:hover {
    color:#F6F6F6;
    text-decoration: none;
}

.post-it-note:after {
    content: "";
    position: absolute;
    bottom: -2em;
    left: 0;
    right: 2em;
    border-width: 1em;
    border-style: solid;
    border-color: #C0392B;
}

.post-it-note:before {
    content: "";
    position: absolute;
    bottom: -2em;
    right: 0;
    border-width: 2em 2em 0 0;
    border-style: solid;
    border-color: #b10d1d transparent;
}

/* alteracoes q tavam na pagina*/

.divisao {
    font-size: 20px;
    border-bottom: 3px solid #b10d1d;
}

.divisao span {
    padding: 7px 10px;
    width: 160px;
    display: block;
}

.panel-default {
    border-color: #ccc;
}

.panel-default > .panel-heading {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    border-color: #ccc;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #FFF;
}


/* alteracoes marion */

.breadcrumb {
    background-color: #E1E1E1
}

.no-margin {
    margin:0 !important;
}

.no-padding {
    padding: 0 !important;
}
.no-padding-left {
    padding-left:0 !important;
}

.padding-bottom-10 { padding-bottom: 30px !important;}

#escopo-imagem { float:left; width:100%; margin:0; padding: 0; position: relative}
#escopo-imagem img { float:left; width:100%; position: relative;}
#escopo-imagem .legenda { position:absolute; font-size:20px; bottom:20px; left: 20px; background: #b10d1d; padding: 5px; color:#fff}

#direita-cursos { width:100%; position:relative; float:left; padding:10px; border:1px solid #b10d1d; min-height:443px}

#direita-cursos h3 { color:#b10d1d; font-size:18px;}
#direita-cursos span { font-size: 15px;}

#direita-cursos #btn-inscricao { position:absolute; bottom:10px;  padding: 5px 20px; font-weight: bolder}

#ul-listagem { width:100%; float:left; margin-bottom: 20px; text-align: left;}
#ul-listagem li { display: inline; border-right: 1px solid #777; padding: 0 10px;}
#ul-listagem li a { color:#777;  text-decoration: none}
#ul-listagem li a.active, #ul-listagem li a:hover { border-bottom:1px solid red; }

.no-border { border: 0 !important;}