html, body {margin: 0;height: 100%;min-height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

img{float:left; border:none; width: 100%; max-width: 100%;}
ul{list-style: none;margin:0px;padding: 0px;}

.bg-light-gray-100{background-color: #F9F9F9; color: #333;}.bg-light-gray-200{background-color: #EEEEEE; color:#333;}.bg-red-100{background-color: #F7BDB7;color:#FFF;}.bg-red-200{background-color: #E74C3C; color:#FFF;}.bg-red-300{background-color:#b10d1d;color:#FFF;}.bg-white{background-color: #FFF; color:#333;}.bg-black{background-color: #000; color:#FFF;}.bg-light-brown{background-color: #F9F7F2;color:#333;}
.color-black{color:#000}.color-black-100{color:#333;}.color-black-200{color:#222;}.color-black-300{color:#111;}.color-red-100{color:#F7BDB7;}.color-red-200{color:#E74C3C;}.color-red-300{color:#C0392B;}.color-white{color:#FFF;}

.text-bold{font-family: 'dosisbold' !important;}
.text-regular{font-family: 'dosisregular' !important;}
.text-light{font-family: 'dosislight' !important;}

.centralizar{height: 100%;min-height: 100%;/* habilita o flex nos filhos diretos */display: -ms-flex;display: -webkit-flex;display: flex;/*centraliza na vertical*/-ms-align-items: center;-webkit-align-items: center;align-items: center;/* centraliza na horizontal*/-ms-justify-content: center;-webkit-justify-content: center;justify-content: center;}
.centralizar div{padding-top: 20px;}

.centertable{display: table; margin: 0 auto;}

.btn-default-hsm{border-radius: 10px 0px 10px 0px; -moz-border-radius: 10px 0px 10px 0px; -webkit-border-radius: 10px 0px 10px 0px; padding: 10px 20px; color:#FFF;}
.btn-default-hsm:hover{background:#B00D1C; color:#FFF;}
.btn-default-hsm-reverse{border-radius: 0px 10px 0px 10px; -moz-border-radius: 0px 10px 0px 10px; -webkit-border-radius: 0px 10px 0px 10px; padding: 10px 20px; color:#FFF;}
.btn-default-hsm-reverse:hover{background:#B00D1C; color:#FFF;}

.fontzero{font-size:0em; margin:0px;padding:0px;}

.al-left{text-align: left;}.al-center{text-align: center;}.al-right{text-align: right;}.justificado{text-align: justify;}

.fl-left{float:left;}.fl-none{float:none;}.fl-right{float:right;}

.atomwrapper{width:80%; margin: 0 auto; padding: 20px 0; max-width: 1024px;}.content-page{padding:30px 0;}.content-nopadding{width:80%; max-width:1024px; margin: 0 auto; padding: 0px;}.nopadding{padding: 0px;}.nomargin{margin: 0px;}

.fontsize1{font-size: 1em;}.fontsize1ab{font-size: 1.3em;}.fontsize1b{font-size: 1.5em;}.fontsize2{font-size: 2em;}.fontsize2b{font-size: 2.5em;}.fontsize3{font-size: 3em;}.fontsize3b{font-size: 3.5em;}fontsize4{font-size: 4em;}.fontsize4b{font-size: 4.5em;}.fontsize5{font-size: 5em;}.fontsize5b{font-size: 5.5em;}.fontsize6{font-size: 6em;}.fontsize6b{font-size: 6.5em;}.font20px{font-size: 20px;}.font18px{font-size: 18px;}.font17px{font-size: 17px;}.font15px{font-size: 15px;}.font12px{font-size: 12px;}.font10px{font-size: 10px;}.font13px{font-size: 13px;}.fontzero{font-size:0em; margin:0px;padding:0px;}.tuppercase{text-transform: uppercase;}

.zd10{z-index: 10;}.zd15{z-index: 15;}.zd20{z-index: 20;}.zd25{z-index: 25;}.zd30{z-index: 30;}.zd35{z-index: 35;}.zd40{z-index: 40;}.zd45{z-index: 45;}.zd50{z-index: 50;}.zd55{z-index: 55;}.zd60{z-index: 60;}.zd65{z-index: 65;}.zd70{z-index: 70;}.zd75{z-index: 75;}.zd80{z-index: 80;}.zd85{z-index: 85;}.zd90{z-index: 90;}.zd95{z-index: 95;}.zd100{z-index: 100;}

.onfade{transition: all 0.1s linear; -ms-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear;}.onfade2{transition: all 0.2s linear; -ms-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear;}.onfade3{transition: all 0.3s linear; -ms-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear;}.onfade4{transition: all 0.4s linear; -ms-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear;}.onfade5{transition: all 0.5s linear; -ms-transition: all 0.5s linear; -webkit-transition: all 0.5s linear; -moz-transition: all 0.5s linear; -o-transition: all 0.5s linear;}
.fadezero{opacity: 1;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.fadezero:hover{opacity: 0.9;}

.lineh010{line-height: 0.10em;}.lineh020{line-height: 0.20em;}.lineh030{line-height: 0.30em;}.lineh040{line-height: 0.40em;}.lineh050{line-height: 0.50em;}.lineh060{line-height: 0.60em;}.lineh070{line-height: 0.70em;}.lineh080{line-height: 0.80em;}.lineh090{line-height: 0.90em;}.lineh100{line-height: 0.100em;}

.width10{width: 10%;}.width20{width: 20%;}.width30{width: 30%;}.width40{width: 40%;}.width50{width: 50%;}.width60{width: 60%;}.width70{width: 70%;}.width80{width: 80%;}.width90{width: 90%;}.width100{width: 100%;}

.last{margin-right: 0 !important;}.clear{clear: both;}.clear5{clear:both; height:5px;}.clear7{clear:both; height:7px;}.clear10{clear:both; height:10px;}.clear12{clear:both; height:12px;}.clear15{clear:both; height:15px;}.clear17{clear:both; height:17px;}.clear18{clear:both; height:18px;}.clear20{clear:both; height:20px;}.clear25{clear:both; height:25px;}.clear30{clear:both; height:30px;}.clear32{clear: both; height: 32px;}.clear33{clear: both; height: 33px;}.clear35{clear:both; height:35px;}.clear40{clear:both; height:40px;}.clear45{clear:both; height:45px;}.clear50{clear:both; height:50px;}clear80{clear:both; height:80px;}

.no-decoration:hover{text-decoration: none;}

.row.no-gutters {margin-right: 0;margin-left: 0;margin-bottom: 0%;}.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {padding-right: 0;padding-left: 0;margin-bottom: 0;}


.set-txt-desc{width: 100%; font-size: 22px;}
.set-txt-desc span{margin: 0px; padding: 0px;color:#999;position: relative;}
.set-txt-desc span:before{content : "";position: absolute;left: 0;bottom: -10px;height:1px;width:30px;border-bottom:1px solid #999;}