@media all and (max-width: 320px) and (min-width: 240px) {
    .header-logo{display: table !important; margin: 0 auto !important; float: none !important;}
    .hinfo-icon{float: none !important; display: table !important; margin: 0 auto !important; width: 100% !important; text-align: center !important;}
    .hinfo-text{float: none !important; text-align: center !important; margin: 0 auto !important; padding: 0px !important; width: 100% !important; text-align: center !important;}
    .hinfo-text h2{font-size: 12px; margin: 0px !important; padding: 0px !important;}
    .h-actions{width: 100% !important; height: auto !important;}
    #search input[type="search"] {font-size: 16px !important;font-weight: 200 !important;color:#FFF !important;}
    .hintxt{margin-top: 10px !important; margin-bottom: 10px !important; padding-bottom: 20px !important; background: #F5F5F5;}
    .menu {
        width: 100% !important;
    }
    #search{background-color:rgba(0,0,0,0.95) !important; z-index: 99999;}
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #8a0e0b !important;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #FFF;
        background: #8a0e0b !important;
    }

    .item-desc h2{font-size: 1.5em !important;}
    .item-desc p{width: 80% !important;}


    .list-posts{width: 100%; padding-top:5px; padding-bottom: 20px;}
    .blog-format-inner{width: 100%; float: left; border: 0px !important;}

    .bfi-data{float: none !important;background:#F5F5F5;border: 0px !important;}
    .bfi-data .y{font-size: 1.1em !important;}

    .bfi-content{width: 100%; height: auto !important;}
    .bfi-content img{max-width: 100% !important; margin-right: 15px;}

    .info-text-c{height: auto !important;}
    .info-text-c h3{line-height: 30px; margin: 0px; padding-top: 20px;}

}

@media all and (max-width: 414px) and (min-width: 375px) {
    .header-logo{display: table !important; margin: 0 auto !important; float: none !important;}
    .hinfo-icon{float: none !important; display: table !important; margin: 0 auto !important; width: 100% !important; text-align: center !important;}
    .hinfo-text{float: none !important; text-align: center !important; margin: 0 auto !important; padding: 0px !important; width: 100% !important; text-align: center !important;}
    .hinfo-text h2{font-size: 12px; margin: 0px !important; padding: 0px !important;}
    .h-actions{width: 100% !important; height: auto !important;}
    #search input[type="search"] {font-size: 16px !important;font-weight: 200 !important;color:#FFF !important;}
    .hintxt{margin-top: 10px !important; margin-bottom: 10px !important; padding-bottom: 20px !important; background: #F5F5F5;}
    .menu {
        width: 100% !important;
    }
    #search{background-color:rgba(0,0,0,0.95) !important; z-index: 99999;}
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #8a0e0b !important;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #FFF;
        background: #8a0e0b !important;
    }

    .item-desc h2{font-size: 1.5em !important;}
    .item-desc p{width: 80% !important;}

    .list-posts{width: 100%; padding-top:5px; padding-bottom: 20px;}
    .blog-format-inner{width: 100%; float: left; border: 0px !important;}

    .bfi-data{float: none !important;background:#F5F5F5;border: 0px !important;}
    .bfi-data .y{font-size: 1.1em !important;}

    .bfi-content{width: 100%; height: auto !important;}
    .bfi-content img{max-width: 100% !important; margin-right: 15px;}

    .info-text-c{height: auto !important;}
    .info-text-c h3{line-height: 30px; margin: 0px; padding-top: 20px;}


}
@media all and (max-width: 768px){
	.login_busca{margin:0px auto; float:none !important}
	
	.fontsize1{font-size: 0.8em;}.fontsize1ab{font-size: 1em;}.fontsize1b{font-size: 1em;}.fontsize2{font-size: 1.5em;}.fontsize2b{font-size: 2em;}.fontsize3{font-size: 2.5em;}.fontsize3b{font-size: 3em;}fontsize4{font-size: 3.4em;}.fontsize4b{font-size: 4em;}.fontsize5{font-size: 5em;}.fontsize5b{font-size: 5.5em;}.fontsize6{font-size: 6em;}.fontsize6b{font-size: 6.5em;}.font20px{font-size: 20px;}.font18px{font-size: 18px;}.font17px{font-size: 17px;}.font15px{font-size: 15px;}.font12px{font-size: 12px;}.font10px{font-size: 10px;}.font13px{font-size: 13px;}.fontzero{font-size:0em; margin:0px;padding:0px;}.tuppercase{text-transform: uppercase;}
	.header-logo{display: table !important; margin: 0 auto !important; float: none !important;}
	.h3,h3{font-size:18px;}
}

@media all and (max-width: 768px) and (min-width: 480px) {
    .header-logo{display: table !important; margin: 0 auto !important; float: none !important;}
    .hinfo-icon{float: none !important; display: table !important; margin: 0 auto !important;}
    .hinfo-text{float: none !important; text-align: center !important; margin: 0 auto !important; padding: 0px !important;}
    .hinfo-text h2{font-size: 14px; margin: 0px !important; padding: 0px !important;}
    .h-actions{width: 100% !important; height: auto !important;}
    #search input[type="search"] {font-size: 30px !important;font-weight: 200 !important;color:#FFF !important;}
    #search{background-color:rgba(0,0,0,0.95) !important; z-index: 99999;}

    .list-posts{width: 100%; padding-top:5px; padding-bottom: 20px;}
    .blog-format-inner{width: 100%; float: left; border: 0px !important;}

    .bfi-data{float: none !important;background:#F5F5F5;border: 0px !important;}
    .bfi-data .y{font-size: 1.1em !important;}

    .bfi-content{width: 100%; height: auto !important;}
    .bfi-content img{max-width: 100% !important; margin-right: 15px;}

    .info-text-c{height: auto !important;}
    .info-text-c h3{line-height: 30px; margin: 0px; padding-top: 20px;}

}